@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

#nav-bar
{
    background-color: black;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: white;
}
#nav-bar img{
    margin-left: 1rem;
    object-fit: contain;
}
#nav-bar a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: white;
}
.opcoes
{
    width: 30rem;
    display:flex;
    justify-content: space-around;
    align-items: center;   
}
.menu
{
    display: none;
    align-items: center;
    margin-top: 1rem;
    object-fit: contain;
    margin-right: 1rem;
}
.intro
{
    color:black;
    height: 50vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.intro h1 {
    margin-top: 4rem;
    margin-left: 30%;
    position: relative;
    z-index: 2;
    font-size: 40px;
}
.intro pre {
    margin-left: 27%;
    position: relative;
    z-index: 2;
    font-size: 25px;
}
.intro img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
}
#html{
    object-fit: contain;
    background-color: rgb(248, 11, 11);
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}
#html img {
    margin-top: 1rem;
    margin-left: 0.5rem;
    height: 40vh;
    width: 40vw;
    object-fit: contain;
}
#html p{
    margin-top: 2rem;
}
#css{
    object-fit: contain;
    background-color: rgb(45, 32, 235);
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}
#css img {
    margin-top: 1rem;
    height: 40vh;
    width: 40vw;
    object-fit: contain;
}
#css p{
    margin-top: 2rem;
    margin-left: 2rem;
}
#js{
    object-fit: contain;
    height: 50vh;
    background-color: rgb(253, 122, 0);
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}
#js img {
    margin-top: 1rem;
    height: 40vh;
    width: 40vw;
    object-fit: contain;
}
#js p{
    margin-top: 2rem;
}
#rodape
{
    background-color: black;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    color: white;
}
#rodape p{
    margin-top: 1rem;
}
#icons
{
    display: flex;
    justify-items: flex-start;
}
.color1{
    color: rgb(248, 11, 11);
}
.color2{
    color: rgb(45, 32, 235);
}
.color3{
    color: rgb(253, 122, 0);
}
@media (max-width: 500px)
{
    .opcoes
    {
        display: none;
    }
    #nav-bar
    {
        height: 15vh;
    }
    .menu
    {
        display: block;
        width: 7rem;
        height: 100%;
    }
    .intro{
        height: 35vh;
    }
    .intro h1 {
        margin-left: 16%;
        font-size: 25px;
    }
    .intro pre {
        margin: 0;
        font-size: 18px;
    }
    #html
    {
        align-items: center;
        display: block;
    }
    #html img
    {
        margin-left: 8%;
        height: 30vh;
        width: 80vw;
    }
    #html p
    {
        margin-left: 1rem;
    }
    #css
    {
        align-items: center;
        display: block;
    }
    #css img
    {
        margin-left: 8%;
        height: 30vh;
        width: 80vw;
    }
    #css p
    {
        margin-left: 1rem;
    }
    #js
    {
        align-items: center;
        display: block;
    }
    #js img
    {
        margin-left: 8%;
        height: 30vh;
        width: 80vw;
    }
    #js p
    {
        margin-left: 1rem;
    }
    #rodape
    {
        align-items: center;
        display: block;
    }
}
@media (max-width: 450px)
{
    .intro{
        height: 30vh;
    }
}
@media (max-width: 375px)
{
    .intro{
        height: 35vh;
    }
}
@media (max-width: 360px)
{
    .intro{
        height: 32vh;
    }
}