@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
#nav-bar
{
    background-color: black;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: white;
}
#nav-bar img{
    margin-left: 1rem;
    object-fit: contain;
}
.opcoes
{
    width: 30rem;
    display:flex;
    justify-content: space-around;
    align-items: center;   
}
.menu
{
    display: none;
    align-items: center;
    margin-top: 1rem;
    object-fit: contain;
    margin-right: 1rem;
}
.intro
{
    color:black;
    height: 50vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.intro h1 {
    margin-top: 4rem;
    margin-left: 30%;
    position: relative;
    z-index: 2;
    font-size: 40px;
}
.intro pre {
    margin-left: 27%;
    position: relative;
    z-index: 2;
    font-size: 25px;
}
.intro img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
}
.color1{
    color: rgb(248, 11, 11);
}
.color2{
    color: rgb(45, 32, 235);
}
.color3{
    color: rgb(253, 122, 0);
}
@media (max-width: 500px)
{
    .opcoes
    {
        display: none;
    }
    #nav-bar
    {
            height: 15vh;
    }
    .menu
    {
        display: block;
        width: 7rem;
        height: 100%;
    }
    .intro h1 {
        margin-left: 16%;
        font-size: 25px;
    }
    .intro pre {
        margin: 0;
        font-size: 18px;
    }
}